mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
  }
  
  button {
    margin-top: 10px;
  }
  
  .table-container {
    max-height: 400px; /* Adjust the height as needed */
    overflow-y: auto; /* Enables vertical scroll when content overflows */
    display: block;
  }
  