.success-message {
    color: green;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
  }
  
  .error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
  }
  