<section
  class="self-stretch bg-[linear-gradient(180deg,rgba(250,254,252,0.7)_28.37%,rgba(38,74,55,0.25))] flex flex-row items-center justify-center flex-wrap content-center px-10 py-5 pt-[130px] box-border gap-y-[52px] gap-x-[104px] min-w-[380px] h-full z-10  text-center">
  <div class="flex-1 flex flex-col items-center justify-start gap-[36px] min-w-[284px] max-w-[529px]">
    <h1 class="self-stretch relative leading-[68px] text-[48px]">
      Track Your Investments and File Your Taxes Effortlessly
    </h1>
    <p class="self-stretch relative text-[18px] leading-[32px] text-[#1b2821]/[0.51]">
      Investment Tracker helps you manage your investments and simplifies tax filing in India.
    </p>
    <button
      class="w-full max-w-[220px] rounded-[14px] bg-[#14ae5c] flex flex-row items-center justify-start px-[32px] py-[14px] gap-[18px] text-[20px] cursor-pointer hover:bg-[#119d4a] transition-all duration-200 hover:scale-105 ease-in-out">
      <span class="flex-1 relative leading-6">Get Started</span>
      <img class="w-[24px] h-[24px] relative overflow-hidden shrink-0" alt="Button Icon"
        src="../../../assets/imgs/Button Icon.svg" />
    </button>
  </div>
  <img class="flex-1 rounded-[14px] max-w-[550px] h-[450px] overflow-hidden object-cover min-w-[284px]" alt="Hero Image"
    src="../../../assets/imgs/hero image.svg" />
</section>

<section
  class="self-stretch overflow-hidden flex flex-col items-center justify-center px-10 py-5  min-w-[380px] min-h-[700px] z-[5] text-center">
  <div class="w-full min-h-[292px] flex flex-col items-center justify-center gap-5">
    <header class="w-full flex flex-col items-start justify-start gap-5 max-w-[1260px]">
      <h1 class="self-stretch relative leading-[68px]">Start Tracking Your Investments</h1>
      <p class="self-stretch relative text-[24px] leading-8 text-[#737f79]">Fill Your Tax Details</p>
    </header>
    <button
      class="rounded-[14px] bg-[#14ae5c] flex flex-row items-center justify-center px-8 py-[14px] text-left text-[20px]  hover:scale-105  hover:bg-[#119d4a] transition-all duration-200 ease-in-out cursor-pointer leading-6"
      aria-label="Start tracking your investments">
      Get Started
    </button>
  </div>
</section>

<section
  class="self-stretch overflow-hidden flex flex-wrap items-center justify-center content-center px-10  box-border gap-y-[52px] gap-x-[104px] min-w-[380px] min-h-[700px] z-[4] text-center"
  style="background: linear-gradient(180deg, rgba(73, 110, 91, 0.25) 36%, rgba(250, 254, 252, 0.25));">
  <article class="flex-1 flex flex-col items-center justify-center gap-10 min-w-[284px]">
    <header class="self-stretch flex flex-col items-start justify-start gap-5">
      <h1 class="self-stretch relative [line-height:52px]">Investment Tracker</h1>
      <p class="self-stretch relative text-[24px] leading-[32px] text-[#737f79]">
        Manage transactions, track portfolios, and view performance.
      </p>
    </header>
    <button
      class="rounded-[14px] bg-[#14ae5c] flex flex-row items-center justify-center px-8 py-4 text-left text-[20px]  hover:bg-[#119d4a] transition-all duration-200 ease-in-out hover:scale-105 cursor-pointer leading-[24px]"
      aria-label="Go to Investment Tracker">Button
    </button>
  </article>
  <img
    class="flex-1 relative max-w-[550px] max-h-[446.43px] min-w-[284px] min-h-[230.52px] overflow-hidden object-cover"
    alt="Investment Tracker Visual" src="../../../assets/imgs/transcaton component.svg" />
</section>

<section
  class="self-stretch overflow-hidden flex flex-row items-center justify-center flex-wrap content-center px-10 py-5  gap-y-[52px] gap-x-[104px] min-w-[380px] min-h-[700px] z-[3] text-[32px]">
  <article class="flex-1 flex flex-col items-center justify-center gap-[40px] min-w-[284px] text-center text-[48px]">
    <header class="self-stretch flex flex-col items-start justify-start gap-[20px]">
      <h1 class="self-stretch relative leading-[52px]">
        Tax Filing Assistant
      </h1>
      <p class="self-stretch relative text-[24px] leading-[32px] text-[#737f79]">
        Fill in tax details, track deductions, and generate tax reports.
      </p>
    </header>
    <button
      class="rounded-[14px] bg-[#14ae5c] flex flex-row items-center justify-center px-[32px] py-[14px] text-left text-[20px]  hover:bg-[#119d4a] transition-all duration-200 ease-in-out hover:scale-105 cursor-pointer leading-6"
      aria-label="Go to Tax Filing Assistant">
      Button
    </button>
  </article>
  <img
    class="flex-1 relative max-w-[550px] max-h-[443.32px] min-w-[284px] min-h-[228.91px] object-cover overflow-hidden"
    alt="Tax Filing Assistant Visual" src="../../../assets/imgs/Portfolio Container.svg" />
</section>

<app-footer></app-footer>