<div class="home-page-container">
  <!-- Video Background -->
  <video autoplay loop muted playsinline class="background-video">
    <source src="/assets/Hero-video.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>

  <!-- Overlay Content -->
  <div class="background-overlay">
    <h2>Track Live Profits and Simplify Your Investment Journey</h2>
    <div class="home-page-content">
      <p>
        Stay ahead in the investment game with our cutting-edge tracker that calculates your live profits effortlessly.
        Designed to provide real-time insights and analytics, our platform makes it easy to manage all your investments
        in one place. We're continuously adding new features to enhance your experience, ensuring that investment
        tracking is as simple and efficient as possible. Join us and take control of your financial future today!
      </p>
    </div>
  </div>
</div>
