<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source Sans Pro:wght@400;700&display=swap" />

<div class="header">
  <div class="header-inner">
    <div class="investment-tracker-logo">
      <div class="logo pointer">
        <b class="investment-tracker " routerLink="/">Investment Tracker </b>
      </div>
    </div>
    <!-- <div class="search-bar">
      <div class="search-bar1">
        <div class="what-do-you">What do you want to search today?</div>
        <div class="magnifier-icon">
          <img class="icon" alt="" src="./assets/searchIcon.png">

        </div>
      </div>
    </div> -->
    <div class="frame-parent">
      <div class="home-wrapper pointer">
        <div class="home" routerLink="/">Home</div>
      </div>
      <div class="dashboard-wrapper pointer">
        <div class="dashboard" routerLink="/dashboard">Dashboard</div>
      </div>
      <div class="log-in-wrapper pointer">
        <div class="log-in" routerLink="/auth">Log In</div>
      </div>
    </div>
  </div>
</div>