/* home.component.css */
.animate-blob-1, .animate-blob-2, .animate-pulse-opacity, .animate-float-up, .animate-float-down, .animate-float-rotate {
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.flow-page-enter {
  transition: opacity 1s ease, transform 1s ease;
  opacity: 1 !important;
}
.opacity-0 {
  opacity: 0;
}
