@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    line-height: normal;
    font-family: 'Manrope', sans-serif;
    background-color: #191919;
}

@layer base {
  /* Webkit browsers (Chrome, Edge, Safari) */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-gray-100 dark:bg-gray-900; /* light vs dark */
    border-radius: 8px;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-400 dark:bg-gray-600 rounded-lg;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500 dark:bg-gray-500;
  }

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: theme('colors.gray.400') theme('colors.gray.100');
  }
  .dark * {
    scrollbar-color: theme('colors.gray.600') theme('colors.gray.900');
  }

  :has(router-outlet[name="modal"]:not(:empty)) main {
  filter: blur(3px);
  pointer-events: none;
}

}
